 <!-- Footer -->
 <div class="container-fluid">
    <footer class="bg-light text-light text-center py-4">
        <div class="container">
            <!-- Social Media Icons -->
            <div class="my-3">
                <a href="#" class="text-light mx-3 icon-social"><img src="img/facebook.svg" alt="facebook"></a>
                <a href="#" class="text-light mx-3 icon-social"><img src="img/twitter-x.svg" alt="twitter-x"></a>
                <a href="#" class="text-light mx-3 icon-social"><img src="img/instagram.svg" alt="instagram"></a>
            </div>
            <!-- Newsletter Subscription Form -->
            <div class="my-3">
                <h5>Subscribe to our Newsletter</h5>
                <form class="d-flex justify-content-center">
                    <input type="email" class="form-control w-50 me-1" placeholder="Enter your email" required>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
            <!-- privacy and terms -->
            <p class="my-3">
                <a href="#" class="text-dark mx-3">Privacy Policy</a> |
                <a href="#" class="text-dark mx-3">Terms of Service</a>
            </p>
            <!-- Copyright notice -->
            <p class="my-3 text-dark">&copy; 2025 Your Company. All rights reserved.</p>
        </div>
    </footer>        
</div>
<!--  ------------ -->
